*{
  margin: 0;
  padding: 0;
  color: #fff;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
label{
  padding-bottom: 10px;
  font-size: 24px;
}
input{
  padding: 10px 20px;
  margin-bottom: 30px;
  font-size: 18px;
}
textarea{
  padding: 10px 20px;
  font-size: 18px;
}
.updateBtn{
  display: none;
}
.allPost{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card{
  padding: 20px;
  margin-top: 50px;
  width: 300px;
  background-color: rgb(32, 31, 31);
  border-radius: 10px;
  box-shadow: -2px 2px 4px #000;
}
.card h2{
  margin-bottom: 10px;
}
.btn{
  padding: 10px 20px;
  font-size: 20px;
  background-color: mediumblue;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: -2px 2px 5px #000;
  cursor: pointer;
}
.deleteBtn{
  background-color: red;
  margin-left: 10px;
}

